page {
  height: 100%;
  width: 100%;
}
.groupPurchase {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  /* 拼团弹框 */
  /* 下单弹框 */
}
.groupPurchase .groupPurchase_banner {
  width: 100%;
  height: 400rpx;
  position: relative;
}
.groupPurchase .groupPurchase_banner .swiper-item {
  width: 700rpx;
  height: 100%;
  position: absolute;
  left: 25rpx;
}
.groupPurchase .groupPurchase_title {
  background-color: #fff;
  display: flex;
  padding: 30rpx 28rpx;
  height: 110rpx;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20rpx;
}
.groupPurchase .groupPurchase_title .groupPurchase_title_left .groupPurchase_title_leftTop {
  font-size: 30rpx;
  color: #000;
  font-weight: bold;
  margin-bottom: 10rpx;
}
.groupPurchase .groupPurchase_title .groupPurchase_title_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26rpx;
  color: #999999;
}
.groupPurchase .groupPurchase_state {
  background-color: #fff;
  margin-bottom: 20rpx;
}
.groupPurchase .groupPurchase_state .groupPurchase_state_title {
  height: 63rpx;
  font-size: 24rpx;
  color: #333333;
  line-height: 63rpx;
  padding-left: 30rpx;
  border-bottom: 1rpx solid #999999;
}
.groupPurchase .groupPurchase_state .groupPurchase_state_main {
  height: 100rpx;
  display: flex;
  padding: 0px 30rpx;
  justify-content: space-between;
  align-items: center;
}
.groupPurchase .groupPurchase_state .groupPurchase_state_main .groupPurchase_state_mainLeft {
  display: flex;
  align-items: center;
}
.groupPurchase .groupPurchase_state .groupPurchase_state_main .groupPurchase_state_mainMid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 20rpx;
  color: #333333;
}
.groupPurchase .groupPurchase_state .groupPurchase_state_main .groupPurchase_state_mainMid .groupPurchase_state_mainMid_top text {
  color: #FF6634;
}
.groupPurchase .groupPurchase_state .groupPurchase_state_main .groupPurchase_state_mainRight {
  height: 50rpx;
  width: 120rpx;
  background-color: #FF6634;
  border-radius: 5rpx;
  color: #fff;
  font-size: 24rpx;
  line-height: 50rpx;
  text-align: center;
  margin-left: 20rpx;
}
.groupPurchase .particulars {
  padding: 30rpx 27rpx 43rpx 27rpx;
  background-color: #fff;
}
.groupPurchase .particulars > .title {
  width: 100%;
  height: 72rpx;
  background-color: #fcefea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groupPurchase .particulars > .title .left {
  color: #333333;
  font-size: 26rpx;
  margin-left: 28rpx;
}
.groupPurchase .particulars > .title .right {
  color: #666666;
  font-size: 20rpx;
  margin-right: 28rpx;
}
.groupPurchase .particulars > .title .right text {
  margin: 0px 5rpx;
}
.groupPurchase .particulars .main {
  padding: 30rpx;
  padding-right: 0;
  border: 1rpx solid #cccccc;
  border-top: 0px;
}
.groupPurchase .particulars .main .subjects,
.groupPurchase .particulars .main .period {
  display: flex;
  align-items: center;
  margin-bottom: 22rpx;
}
.groupPurchase .particulars .main .subjects .title,
.groupPurchase .particulars .main .period .title {
  color: #999999;
  font-size: 24rpx;
  margin-right: 80rpx;
}
.groupPurchase .particulars .main .subjects .content,
.groupPurchase .particulars .main .period .content {
  color: #1a1a1a;
  font-size: 24rpx;
}
.groupPurchase .particulars .main .oldPrice,
.groupPurchase .particulars .main .activePrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 14rpx;
}
.groupPurchase .particulars .main .oldPrice .content,
.groupPurchase .particulars .main .activePrice .content {
  text-decoration: line-through;
  margin-left: 70rpx;
}
.groupPurchase .particulars .main .oldPrice .title,
.groupPurchase .particulars .main .activePrice .title {
  text-align: right;
  color: #1a1a1a;
  font-size: 26rpx;
}
.groupPurchase .inform_top {
  background-color: #fff;
  padding-left: 28rpx;
}
.groupPurchase .inform_top .list {
  padding-top: 40rpx;
}
.groupPurchase .inform_top .list .title {
  font-size: 26rpx;
  color: #999999;
  margin-bottom: 22rpx;
}
.groupPurchase .inform_top .list .content {
  color: #333333;
  font-size: 28rpx;
}
.groupPurchase .inform_title {
  background-color: #fff;
}
.groupPurchase .inform_title .content {
  display: flex;
  padding: 74rpx 0px 24rpx 0rpx;
  margin-left: 30rpx;
  border-bottom: 2rpx solid #e6e6e6;
  align-items: center;
}
.groupPurchase .inform_title text {
  color: #333333;
  font-size: 28rpx;
  margin-right: 10rpx;
}
.groupPurchase .inform_title van-icon {
  color: #bbbbbb;
  font-size: 26rpx;
}
.groupPurchase .inform_bottom {
  background-color: #fff;
  padding-top: 26rpx;
  padding-left: 30rpx;
}
.groupPurchase .inform_bottom .list .title {
  color: #999999;
  font-size: 26rpx;
  margin-bottom: 20rpx;
}
.groupPurchase .inform_bottom .list .content {
  padding-left: 8rpx;
  color: #333333;
  font-size: 26rpx;
  padding-bottom: 20rpx;
}
.groupPurchase .isLook {
  max-height: 400rpx;
  overflow: hidden;
}
.groupPurchase .lookMore {
  background-color: #fff;
  padding-top: 34rpx;
}
.groupPurchase .lookMore .content {
  margin-left: 30rpx;
  border-top: 1rpx solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24rpx;
  padding-bottom: 68rpx;
}
.groupPurchase .lookMore .content text {
  color: #333333;
  font-size: 26rpx;
  margin-right: 6rpx;
}
.groupPurchase .lookMore .content van-icon {
  color: #999999;
  font-size: 20rpx;
}
.groupPurchase .shop {
  background-color: #fff;
  padding: 0px 35rpx;
}
.groupPurchase .shop .title {
  color: #1a1a1a;
  font-size: 36rpx;
  font-weight: bold;
  padding: 68rpx 0px 32rpx;
}
.groupPurchase .shop .main {
  display: flex;
  align-items: center;
  margin-left: 2rpx;
}
.groupPurchase .shop .main .left {
  color: #000000;
  font-size: 30rpx;
  font-weight: bold;
  flex: 1;
}
.groupPurchase .shop .main .right {
  width: 125rpx;
  height: 47rpx;
  border-left: 4rpx solid #e6e6e6;
  padding-left: 35rpx;
}
.groupPurchase .shop .rate {
  padding: 14rpx 0px;
  border-bottom: 1rpx solid #e6e6e6;
}
.groupPurchase .shop .site {
  display: flex;
  align-items: center;
  font-size: 30rpx;
  color: #333333;
  padding: 25rpx 0px 46rpx 0px;
}
.groupPurchase .shop .site text {
  margin-left: 5rpx;
}
.groupPurchase .store_evaluate {
  padding: 0px 30rpx;
  background-color: #fff;
}
.groupPurchase .store_evaluate .title {
  display: flex;
  height: 90rpx;
  justify-content: space-between;
  align-items: center;
}
.groupPurchase .store_evaluate .title .left {
  color: #010101;
  font-size: 32rpx;
}
.groupPurchase .store_evaluate .title .left text {
  font-size: 28rpx;
  margin-left: 10rpx;
}
.groupPurchase .store_evaluate .title .right {
  color: #000000;
  font-size: 28rpx;
}
.groupPurchase .store_evaluate .typeBox .type {
  display: inline-block;
  margin: 0px 10rpx 20rpx;
  border-radius: 42rpx;
  background-color: #f3f3f3;
  color: #000;
  font-size: 20rpx;
  padding: 10rpx 28rpx;
}
.groupPurchase .store_evaluate .listBox {
  display: flex;
}
.groupPurchase .store_evaluate .listBox .head {
  position: relative;
}
.groupPurchase .store_evaluate .listBox .head .vip_logo {
  position: absolute;
  width: 30rpx;
  height: 30rpx;
  right: 0;
  top: 44rpx;
}
.groupPurchase .store_evaluate .listBox .content {
  margin-left: 16rpx;
}
.groupPurchase .store_evaluate .listBox .content .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 24rpx;
  margin-top: 5rpx;
  margin-bottom: 20rpx;
}
.groupPurchase .store_evaluate .listBox .content .title text:nth-child(1) {
  color: #3a5575;
  font-size: 24rpx;
  margin-right: 14rpx;
}
.groupPurchase .store_evaluate .listBox .content .title text:nth-child(2) {
  background-color: #f0be41;
  border-radius: 25rpx;
  border: 1rpx solid #e0ae30;
  font-size: 16rpx;
  color: #ffffff;
  padding: 5rpx 10rpx ;
}
.groupPurchase .store_evaluate .listBox .content .time {
  color: #999999;
  font-size: 20rpx;
  margin-bottom: 20rpx;
}
.groupPurchase .store_evaluate .listBox .content .remarkBox .remark {
  display: inline-block;
  color: #ec6b3d;
  border: 1rpx solid #ec6b3d;
  font-size: 20rpx;
  padding: 8rpx 10rpx;
  border-radius: 4rpx;
  margin-bottom: 12rpx ;
  margin-right: 20rpx;
}
.groupPurchase .store_evaluate .listBox .content .grade {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 34rpx;
}
.groupPurchase .store_evaluate .listBox .content .grade text {
  color: #000;
  font-size: 24rpx;
  margin-right: 10rpx;
}
.groupPurchase .store_evaluate .listBox .content .describe {
  color: #000000;
  font-size: 24rpx;
  line-height: 33rpx;
  margin-bottom: 15rpx;
}
.groupPurchase .store_evaluate .listBox .content .imgListBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 50rpx;
}
.groupPurchase .store_evaluate .listBox .content .imgListBox .imgList {
  width: 200rpx;
  height: 200rpx;
  border-radius: 4rpx;
}
.groupPurchase .store_evaluate .listBox .content .imgListBox .imgNumberBox {
  position: absolute;
  bottom: 10rpx;
  right: 10rpx;
  background-color: rgba(1, 1, 1, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rpx 18rpx;
  border-radius: 34rpx;
}
.groupPurchase .store_evaluate .listBox .content .imgListBox .imgNumberBox text {
  color: #fff;
  font-size: 22rpx;
  margin-left: 10rpx;
}
.groupPurchase .store_evaluate .lookMore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 26rpx;
  height: 80rpx;
  font-weight: bold;
}
.groupPurchase .groupPurchase_joinBox {
  width: 690rpx;
  height: 410rpx;
  border-radius: 20rpx;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.groupPurchase .groupPurchase_joinBox .join_cross {
  display: flex;
  justify-content: flex-end;
  margin: 20rpx 20rpx 0px 0px;
  font-size: 32rpx;
  color: #999;
  width: 100%;
}
.groupPurchase .groupPurchase_joinBox .join_title {
  color: #000;
  font-size: 36rpx;
}
.groupPurchase .groupPurchase_joinBox .join_hint {
  color: #333;
  font-size: 26rpx;
}
.groupPurchase .groupPurchase_joinBox .join_listBox {
  display: flex;
  justify-content: space-between;
  width: 550rpx;
}
.groupPurchase .groupPurchase_joinBox .join_listBox .join_listLeader::after {
  content: '团长';
  height: 20rpx;
  width: 40rpx;
  border-radius: 5rpx;
  background-color: #FF6634;
  text-align: center;
  line-height: 20rpx;
  color: #fff;
  font-size: 14rpx;
  position: relative;
  top: -98rpx;
  left: 27rpx;
}
.groupPurchase .groupPurchase_joinBox .join_btn {
  background-color: #0CBF63;
  width: 630rpx;
  height: 80rpx;
  margin-bottom: 30rpx;
  border-radius: 10rpx;
  line-height: 80rpx;
  text-align: center;
  color: #fff;
  font-size: 36rpx;
}
.groupPurchase .order_box {
  padding: 0px 20rpx;
  height: 765rpx;
  position: relative;
}
.groupPurchase .order_box .order_head {
  width: 710rpx;
  height: 187rpx;
  margin-left: 20rpx;
  border-bottom: 1rpx solid #999;
  display: flex;
}
.groupPurchase .order_box .order_head .head_left {
  position: fixed;
  top: 391rpx;
  left: 47rpx;
  padding: 1rpx;
  background-color: #fff;
  border-radius: 4rpx;
}
.groupPurchase .order_box .order_head .head_right {
  margin-left: 257rpx;
}
.groupPurchase .order_box .order_head .head_right .top {
  color: #FF6634;
  font-size: 28rpx;
  padding: 30rpx 0px 20rpx 0px;
}
.groupPurchase .order_box .order_head .head_right .top text {
  margin-right: 5rpx;
}
.groupPurchase .order_box .order_head .head_right .bottom {
  color: #333333;
  font-size: 25rpx;
}
.groupPurchase .order_box .order_type {
  border-bottom: 1rpx solid #999;
}
.groupPurchase .order_box .order_type .order_type_title {
  color: #333333;
  font-size: 26rpx;
  padding-left: 10rpx;
  padding-top: 28rpx;
  padding-bottom: 20rpx;
}
.groupPurchase .order_box .order_type .order_type_listBox {
  padding-left: 20rpx;
}
.groupPurchase .order_box .order_type .order_type_listBox .order_type_list {
  background-color: #f2f2f2;
  color: #333333;
  font-size: 28rpx;
  padding: 16rpx 12rpx;
  margin-right: 20rpx;
  margin-bottom: 15rpx;
  display: inline-block;
}
.groupPurchase .order_box .order_number {
  border-bottom: 1rpx solid #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84rpx;
}
.groupPurchase .order_box .order_number .number_left {
  color: #333333;
  font-size: 26rpx;
}
.groupPurchase .order_box .order_number .number_right .van-stepper__minus {
  background-color: #f2f2f2;
  color: #999999;
}
.groupPurchase .order_box .order_number .number_right .van-stepper__input {
  background-color: #fff;
}
.groupPurchase .order_box .order_number .number_right .van-stepper__plus {
  background-color: #999999;
  color: #666666;
}
.groupPurchase .order_box .order_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90rpx;
  background-color: #0CBF63;
  color: #fff;
  font-size: 36rpx;
  line-height: 90rpx;
  text-align: center;
}
.groupPurchase .groupPurchase_bottom {
  height: 100rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_phone {
  width: 114rpx;
  background-color: #fff;
  color: #999999;
  font-size: 24rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_try,
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_alonePay,
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_togetherPay {
  flex: 1;
  height: 100%;
  color: #fff;
}
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_try {
  text-align: center;
  line-height: 100rpx;
  font-size: 34rpx;
  background-color: #FF6634;
}
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_alonePay,
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_togetherPay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_alonePay .top,
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_togetherPay .top {
  font-size: 22rpx;
}
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_alonePay .bottom,
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_togetherPay .bottom {
  font-size: 28rpx;
}
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_alonePay {
  background-color: #47B4B7;
}
.groupPurchase .groupPurchase_bottom .groupPurchase_bottom_togetherPay {
  background-color: #7AC6C9;
}
