page {
  height: 100%;
  width: 100%;
}
.store {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.store .store_banner {
  width: 100%;
  height: 400rpx;
  position: relative;
}
.store .store_banner .swiper-item {
  width: 700rpx;
  height: 100%;
  position: absolute;
  left: 25rpx;
}
.store .store_banner .store_bannerBtn_box {
  position: absolute;
  bottom: 23rpx;
  right: 60rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.store .store_banner .store_bannerBtn_box .store_bannerBtn_video,
.store .store_banner .store_bannerBtn_box .store_bannerBtn_image {
  background-color: rgba(107, 93, 93, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18rpx;
  padding: 10rpx 18rpx;
  border-radius: 25rpx;
}
.store .store_banner .store_bannerBtn_box .store_bannerBtn_video {
  margin-right: 20rpx;
}
