page {
  width: 100%;
  height: 100%;
}
.appointSucceed {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding-top: 10rpx;
}
.appointSucceed .groupSuccess_main {
  width: 100%;
  height: 200rpx;
  padding: 35rpx 0rpx ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.appointSucceed .groupSuccess_main .groupSuccess_main_title {
  color: #333333;
  font-size: 34rpx;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointSucceed .groupSuccess_main .groupSuccess_main_hint {
  font-size: 24rpx;
  color: #999999;
}
.appointSucceed .groupSuccess_main .groupSuccess_main_scholl {
  color: #333;
  font-size: 30rpx;
}
