page {
  height: 100%;
  width: 100%;
}
.store {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 分享弹框 */
  /* 海报弹框 */
  /* 地图弹框 */
}
.store .store_banner {
  width: 100%;
  height: 400rpx;
  position: relative;
}
.store .store_banner .swiper-item {
  width: 700rpx;
  height: 100%;
  position: absolute;
  left: 25rpx;
}
.store .store_banner .store_bannerBtn_box {
  position: absolute;
  bottom: 23rpx;
  right: 60rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.store .store_banner .store_bannerBtn_box .store_bannerBtn_video,
.store .store_banner .store_bannerBtn_box .store_bannerBtn_image {
  background-color: rgba(107, 93, 93, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18rpx;
  padding: 10rpx 18rpx;
  border-radius: 25rpx;
}
.store .store_banner .store_bannerBtn_box .store_bannerBtn_video {
  margin-right: 20rpx;
}
.store .store_title {
  display: flex;
  justify-content: space-between;
  margin: 0rpx 30rpx ;
  height: 186rpx;
  border-bottom: 1rpx solid #999999;
}
.store .store_title .store_titleLeft {
  flex: 1;
}
.store .store_title .store_titleLeft .store_titleLeft_top {
  color: #000000;
  font-size: 36rpx;
  padding: 20rpx 0px ;
}
.store .store_title .store_titleLeft .store_titleLeft_borrom {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 24rpx;
}
.store .store_title .store_titleRight {
  display: flex;
  justify-content: space-between;
  padding-top: 28rpx;
  font-size: 24rpx;
  color: #999999;
  margin-left: 43rpx;
  width: 180rpx;
  position: relative;
}
.store .store_title .store_titleRight view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.store .store_title .store_titleRight view image {
  margin-bottom: 5rpx;
}
.store .store_title .store_titleRight .isCollect {
  color: #FF6634;
}
.store .store_title .store_titleRight .store_titleRight_fixedBox {
  width: 200rpx;
  height: 53rpx;
  position: absolute;
  left: -78rpx;
  bottom: 40rpx;
}
.store .store_title .store_titleRight .store_titleRight_fixedBox .store_titleRight_fixed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 18rpx;
  text-align: center;
  line-height: 62rpx;
}
.store .store_site {
  width: 100%;
  height: 90rpx;
  padding-top: 20rpx;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.store .store_site .store_siteTop {
  margin-left: 30rpx;
  color: #000;
  font-size: 24rpx;
  margin-bottom: 10rpx;
}
.store .store_site .store_siteBottom {
  color: #656565;
  font-size: 24rpx;
  margin-left: 30rpx;
}
.store .store_site .store_sitePhone {
  margin-right: 30rpx;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.store .store_site .store_sitePhone text {
  font-size: 24rpx;
  color: #656565;
}
.store .segmentation {
  background-color: #f2f2f2;
}
.store .store_video {
  height: 432rpx;
}
.store .store_video .store_video_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79rpx;
  border-bottom: 1rpx solid #999999;
  margin: 0px 24rpx;
}
.store .store_video .store_video_title .store_video_titleLeft {
  color: #333333;
  font-size: 30rpx;
}
.store .store_video .store_video_title .store_video_titleRight {
  color: #999999;
  flex-direction: 24rpx;
}
.store .store_video .store_videoBox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 380rpx;
  padding-top: 20rpx;
  padding-bottom: 30rpx;
}
.store .store_video .store_videoBox .store_video_list {
  width: 300rpx;
  height: 380rpx;
  margin: 0px 20rpx;
}
.store .store_video .store_videoBox .store_video_list .store_video_listTop {
  width: 300rpx;
  height: 220rpx;
  position: relative;
}
.store .store_video .store_videoBox .store_video_list .store_video_listTop .playbtn {
  position: absolute;
  top: 77rpx;
  left: 50%;
  transform: translateX(-50%);
  width: 66rpx;
  height: 66rpx;
}
.store .store_video .store_videoBox .store_video_list .store_video_listTop .times {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 18rpx;
  padding: 10rpx;
  border-radius: 20rpx;
  background-color: rgba(144, 121, 121, 0.3);
}
.store .store_video .store_videoBox .store_video_list .store_video_listBottm {
  color: #333;
  font-size: 28rpx;
}
.store .store_groupBuy {
  background-color: #fff;
  width: 670rpx;
  padding: 0px 40rpx ;
}
.store .store_groupBuy .store_groupBuy_title {
  height: 90rpx;
  line-height: 70rpx;
  font-size: 30rpx;
  color: #000;
  font-weight: bold;
}
.store .store_groupBuy .store_groupBuy_list {
  display: flex;
  height: 128rpx;
  margin-bottom: 20rpx;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listLeft {
  width: 128rpx;
  height: 128rpx;
  margin-right: 20rpx;
  position: relative;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listLeft .store_groupBuy_listLeft_hint {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ea4a27;
  color: #fff;
  padding: 4rpx 8rpx;
  font-size: 18rpx;
  border-radius: 10rpx 0px 10rpx 0px ;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listRight {
  flex: 1;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listRight .top {
  font-size: 28rpx;
  color: #000;
  font-weight: bold;
  padding-left: 16rpx;
  margin-bottom: 16rpx;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listRight .bottom {
  display: flex;
  justify-content: space-between;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listRight .bottom .bottom_left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listRight .bottom .bottom_left .bottom_left_top {
  color: #999;
  font-size: 22rpx;
  margin-bottom: 10rpx;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listRight .bottom .bottom_left .bottom_left_top text {
  margin: 0px 5rpx;
}
.store .store_groupBuy .store_groupBuy_list .store_groupBuy_listRight .bottom .bottom_left .bottom_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store .store_groupBuy .wire {
  height: 20rpx;
  border-bottom: 1rpx solid #ccc;
}
.store .store_groupBuy .store_groupBuy_more {
  height: 97rpx;
  line-height: 97rpx;
  color: #808080;
  font-size: 28rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store .store_course {
  padding: 0px 36rpx;
}
.store .store_course .store_course_title {
  font-size: 30rpx;
  color: #000;
  font-weight: bold;
  margin-bottom: 35rpx;
}
.store .store_course .store_course_list {
  width: 327rpx;
  height: 330rpx;
  border: 1rpx solid #e6e6e6;
  border-radius: 6px;
  margin-bottom: 30rpx;
}
.store .store_course .store_course_list .store_course_top {
  width: 325rpx;
  height: 165rpx;
  position: relative;
}
.store .store_course .store_course_list .store_course_top .active_type {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 18rpx;
  background: linear-gradient(-55deg, #ea4927 50%, #ed7754 500%);
  padding: 2rpx 8rpx;
  border-radius: 10rpx 0px 10rpx 0rpx ;
}
.store .store_course .store_course_list .store_course_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 18rpx;
  height: 164rpx;
}
.store .store_course .store_course_list .store_course_bottom .title {
  color: #000;
  font-size: 26rpx;
  font-weight: bold;
}
.store .store_course .store_course_list .store_course_bottom .type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #737373;
  font-size: 20rpx;
}
.store .store_course .store_course_list .store_course_bottom .type view {
  display: flex;
  align-items: center;
}
.store .store_course .store_course_list .store_course_bottom .type view van-icon {
  margin-right: 10rpx;
  font-size: 28rpx;
}
.store .store_course .store_course_list .store_course_bottom .price {
  color: #ec6b3d;
  font-size: 30rpx;
  font-weight: bold;
}
.store .store_course .store_course_list .store_course_bottom .price text {
  margin-right: 5rpx;
}
.store .store_course .mrr20 {
  margin-right: 20rpx;
}
.store .store_course .wire {
  height: 20rpx;
  width: 100%;
  border-bottom: 1rpx solid #ccc;
}
.store .store_course .store_course_more {
  height: 97rpx;
  width: 100%;
  line-height: 97rpx;
  color: #808080;
  font-size: 28rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store .store_bottom {
  height: 100rpx;
  display: flex;
  align-items: center;
}
.store .store_bottom .store_bottom_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110rpx;
  background-color: #fff;
  color: #999;
  font-size: 22rpx;
}
.store .store_bottom .store_bottom_right {
  background-color: #FF6634;
  color: #fff;
  font-size: 34rpx;
  text-align: center;
  line-height: 100rpx;
  flex: 1;
}
.store .store_teachers {
  padding: 0px 30rpx;
}
.store .store_teachers .title {
  height: 90rpx;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store .store_teachers .title .left {
  color: #010101;
  font-size: 34rpx;
  padding-left: 6rpx;
}
.store .store_teachers .title .left text {
  font-size: 26rpx;
  margin-left: 10rpx;
}
.store .store_teachers .title .right {
  font-size: 22rpx;
  color: #999999;
}
.store .store_teachers .listBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rpx;
  overflow-x: scroll;
}
.store .store_teachers .listBox .list {
  text-align: center;
}
.store .store_teachers .listBox .list .name {
  color: #1a1a1a;
  font-size: 28rpx;
  font-weight: bold;
  margin-top: 16rpx;
  margin-bottom: 10rpx;
}
.store .store_teachers .listBox .list .type,
.store .store_teachers .listBox .list .years {
  color: #808080;
  font-size: 24rpx;
  margin-bottom: 10rpx;
}
.store .customerInput {
  position: absolute;
  right: 20rpx;
  top: -40rpx;
  width: 80rpx;
  height: 80rpx;
  padding: 10rpx;
  border-radius: 50%;
  background-color: #47b4b7;
  color: #fff;
  font-size: 30rpx;
  text-align: center;
}
.store .store_evaluate {
  padding: 0px 26rpx;
}
.store .store_evaluate .title {
  display: flex;
  height: 90rpx;
  justify-content: space-between;
  align-items: center;
}
.store .store_evaluate .title .left {
  color: #010101;
  font-size: 32rpx;
}
.store .store_evaluate .title .left text {
  font-size: 28rpx;
  margin-left: 10rpx;
}
.store .store_evaluate .title .right {
  color: #000000;
  font-size: 28rpx;
}
.store .store_evaluate .typeBox .type {
  display: inline-block;
  margin: 0px 10rpx 20rpx;
  border-radius: 42rpx;
  background-color: #f3f3f3;
  color: #000;
  font-size: 20rpx;
  padding: 10rpx 28rpx;
}
.store .store_evaluate .listBox {
  display: flex;
}
.store .store_evaluate .listBox .head {
  position: relative;
}
.store .store_evaluate .listBox .head .vip_logo {
  position: absolute;
  width: 30rpx;
  height: 30rpx;
  right: 0;
  top: 44rpx;
}
.store .store_evaluate .listBox .content {
  margin-left: 16rpx;
}
.store .store_evaluate .listBox .content .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 24rpx;
  margin-top: 5rpx;
  margin-bottom: 20rpx;
}
.store .store_evaluate .listBox .content .title text:nth-child(1) {
  color: #3a5575;
  font-size: 24rpx;
  margin-right: 14rpx;
}
.store .store_evaluate .listBox .content .title text:nth-child(2) {
  background-color: #f0be41;
  border-radius: 25rpx;
  border: 1rpx solid #e0ae30;
  font-size: 16rpx;
  color: #ffffff;
  padding: 5rpx 10rpx ;
}
.store .store_evaluate .listBox .content .time {
  color: #999999;
  font-size: 20rpx;
  margin-bottom: 20rpx;
}
.store .store_evaluate .listBox .content .remarkBox .remark {
  display: inline-block;
  color: #ec6b3d;
  border: 1rpx solid #ec6b3d;
  font-size: 20rpx;
  padding: 8rpx 10rpx;
  border-radius: 4rpx;
  margin-bottom: 12rpx ;
  margin-right: 20rpx;
}
.store .store_evaluate .listBox .content .grade {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 34rpx;
}
.store .store_evaluate .listBox .content .grade text {
  color: #000;
  font-size: 24rpx;
  margin-right: 10rpx;
}
.store .store_evaluate .listBox .content .describe {
  color: #000000;
  font-size: 24rpx;
  line-height: 33rpx;
  margin-bottom: 15rpx;
}
.store .store_evaluate .listBox .content .imgListBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 50rpx;
}
.store .store_evaluate .listBox .content .imgListBox .imgList {
  width: 200rpx;
  height: 200rpx;
  border-radius: 4rpx;
}
.store .store_evaluate .listBox .content .imgListBox .imgNumberBox {
  position: absolute;
  bottom: 10rpx;
  right: 10rpx;
  background-color: rgba(1, 1, 1, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rpx 18rpx;
  border-radius: 34rpx;
}
.store .store_evaluate .listBox .content .imgListBox .imgNumberBox text {
  color: #fff;
  font-size: 22rpx;
  margin-left: 10rpx;
}
.store .store_evaluate .lookMore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 26rpx;
  height: 80rpx;
  font-weight: bold;
}
.store .share_box {
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 402rpx;
}
.store .share_box .share_boxTop {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 40px 0rpx;
}
.store .share_box .share_boxTop .share_boxTop_left,
.store .share_box .share_boxTop .share_boxTop_right {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #343434;
  font-size: 30rpx;
}
.store .share_box .share_boxBottom {
  width: 100%;
  height: 92rpx;
  border-top: 1rpx solid #9A9A9A;
  line-height: 92rpx;
  text-align: center;
  font-size: 36rpx;
  color: #9A9A9A;
}
.store .poster_box {
  position: fixed;
  width: 690rpx;
  height: 666rpx;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 30rpx;
  z-index: 100;
}
.store .poster_box .poster_box_title {
  width: 100%;
  text-align: center;
  color: #343434;
  font-size: 30rpx;
  margin-bottom: 30rpx;
}
.store .poster_box .poster_box_img {
  width: 100%;
  height: 300rpx;
  border-radius: 5rpx;
  margin-bottom: 30rpx;
}
.store .poster_box .poster_box_main {
  display: flex;
  align-items: center;
  height: 180rpx;
}
.store .poster_box .poster_box_main .poster_box_mainLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.store .poster_box .poster_box_main .poster_box_mainLeft .poster_box_mainLeft_top {
  color: #343434;
  font-size: 28rpx;
}
.store .poster_box .poster_box_main .poster_box_mainLeft .poster_box_mainLeft_mid {
  display: flex;
  justify-content: flex-start;
}
.store .poster_box .poster_box_main .poster_box_mainLeft .poster_box_mainLeft_bottom {
  color: #666666;
  font-size: 24rpx;
}
.store .poster_box .poster_box_main .poster_box_mainRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9A9A9A;
  font-size: 20rpx;
  margin-right: 30rpx;
  margin-left: 100rpx;
}
.store .poster_box .poster_box_bottom {
  width: 260rpx;
  height: 60rpx;
  background-color: #0CC064;
  color: #fff;
  font-size: -78rpx;
  border-radius: 10rpx;
  text-align: center;
  line-height: 60rpx;
  margin: auto;
  margin-top: 20rpx;
}
.store .mapBox {
  padding: 50rpx;
}
