page {
  width: 100%;
  height: 100%;
}
.payment {
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  padding-top: 10rpx;
}
.payment .payment_courseName {
  height: 200rpx;
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 30rpx;
  background-color: #fff;
  margin-bottom: 20rpx;
}
.payment .payment_schollName {
  height: 80rpx;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30rpx;
  font-size: 26rpx;
  color: #999999;
  margin-bottom: 20rpx;
}
.payment .payment_list {
  height: 80rpx;
  background-color: #fff;
  padding: 0px 30rpx;
  margin-bottom: 4rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment .payment_list .left {
  font-size: 26rpx;
  color: #999999;
}
.payment .payment_number .right .van-stepper__plus {
  background-color: #fff;
  color: #FF6633;
  border: 1rpx solid #FF6633;
}
.payment .payment_number .right .van-stepper__input {
  background-color: #fff;
  border: 1rpx solid #999;
}
.payment .payment_number .right .van-stepper__minus {
  background-color: #fff;
  color: #999;
  border: 1rpx solid #999;
}
.payment .payment_groupNumber .right .van-stepper__minus {
  background-color: #fff;
  color: #FF6633;
  border: 1rpx solid #FF6633;
}
.payment .payment_groupNumber .right .van-stepper__input {
  background-color: #fff;
  border: 1rpx solid #999;
}
.payment .payment_groupNumber .right .van-stepper__plus {
  background-color: #fff;
  color: #999;
  border: 1rpx solid #999;
}
.payment .payment_unitPrice .right {
  color: #000000;
  font-size: 26rpx;
}
.payment .payment_allPrice .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #FF6633;
  font-size: 20rpx;
}
.payment .payment_hintText {
  font-size: 24rpx;
  color: #999999;
  line-height: 46rpx;
  padding-left: 30rpx;
}
.payment .payment_phone {
  height: 80rpx;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 26rpx;
  margin-bottom: 65rpx;
}
.payment .payment_phone .left {
  color: #999;
  margin: 0px 30rpx;
}
.payment .payment_phone .right {
  color: #000;
}
.payment .payment_check {
  color: #333333;
  font-size: 20rpx;
  position: relative;
  left: 30rpx;
  top: -60rpx;
}
.payment .payment_payBtn {
  width: 630rpx;
  height: 80rpx;
  border-radius: 10rpx;
  background-color: #0CC064;
  color: #fff;
  text-align: center;
  line-height: 80rpx;
  margin: 20rpx auto;
  font-size: 24rpx;
}
.payment .payment_inviteBtn {
  width: 630rpx;
  height: 80rpx;
  border-radius: 10rpx;
  background-color: #9A9A9A;
  color: #343434;
  text-align: center;
  line-height: 80rpx;
  margin: auto;
}
